/* Your app custom styles here */
.pain {
    font-size: medium;
}

.Heading {
    font-size: larger;
    margin-left: 8%;
}

#BacktoHome {
    position: absolute;
    background-color: aliceblue;
    border-radius: 50%;
    width: auto;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
}